<div class="container text-center">
    <br><br><br>
    <h1 class="display-5 fw-bold text-body-emphasis">Share your rating!</h1>
    <br>
    <p>Give us your rating and tell us the reason for it.</p>
    <br>
    <app-star-rating [rating]="0"></app-star-rating>
    <br><br>
    <textarea id="review" class="form-control" placeholder="Write your review here"></textarea><br><br>
    <button class="btn btn-warning" (click)="submitReview()"><b>Submit</b></button><br><br>
    <div class="reviews" id="reviews"></div>
</div>
<br>