<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Who are we?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Natus at unde laboriosam
            voluptates asperiores quae iure cum explicabo rerum? <br> Porro iusto numquam laborum veniam at quibusdam
            suscipit, a vitae voluptas? <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Odio
            accusamus, ducimus autem odit cum id adipisci vel ipsa doloremque fuga tempora! <br> Asperiores iusto
            impedit hic sunt aperiam vero quas eum? <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Vero, assumenda cum ducimus quibusdam ipsam nisi magni ut soluta esse cumque error voluptas optio sunt vitae
            obcaecati accusamus suscipit, atque modi. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Magni ipsam laudantium voluptas ex hic pariatur quisquam minus id, earum consectetur fugit nisi facere
            deleniti sunt necessitatibus quam corporis tenetur deserunt.</p>
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Natus at unde laboriosam
            voluptates asperiores quae iure cum explicabo rerum? <br> Porro iusto numquam laborum veniam at quibusdam
            suscipit, a vitae voluptas? <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Odio
            accusamus, ducimus autem odit cum id adipisci vel ipsa doloremque fuga tempora! <br> Asperiores iusto
            impedit hic sunt aperiam vero quas eum? <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Vero, assumenda cum ducimus quibusdam ipsam nisi magni ut soluta esse cumque error voluptas optio sunt vitae
            obcaecati accusamus suscipit, atque modi. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Magni ipsam laudantium voluptas ex hic pariatur quisquam minus id, earum consectetur fugit nisi facere
            deleniti sunt necessitatibus quam corporis tenetur deserunt.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-outline-secondary btn-lg px-4"><b><a
                        class="nav-link light-link" href="learn-more">Learn more about BeQuick</a></b></button>
        </div>
    </div>
</div>
