<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Who are we?</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Natus at unde laboriosam
            voluptates asperiores quae iure cum explicabo rerum? <br> Porro iusto numquam laborum veniam at quibusdam
            suscipit, a vitae voluptas? <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Odio
            accusamus, ducimus autem odit cum id adipisci vel ipsa doloremque fuga tempora! <br> Asperiores iusto
            impedit hic sunt aperiam vero quas eum? <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Vero, assumenda cum ducimus quibusdam ipsam nisi magni ut soluta esse cumque error voluptas optio sunt vitae
            obcaecati accusamus suscipit, atque modi. <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
            Magni ipsam laudantium voluptas ex hic pariatur quisquam minus id, earum consectetur fugit nisi facere
            deleniti sunt necessitatibus quam corporis tenetur deserunt.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-warning btn-lg px-4 gap-3" data-bs-toggle="modal"
                data-bs-target="#multiPurposeModal2"><b>GET STARTED</b></button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" routerLink="learn-more"><b><a
                        class="nav-link light-link" href="learn-more">Learn more</a></b></button>
        </div>
    </div>
</div>
<!-- Multi-purpose Modal -->
<div class="modal fade" id="multiPurposeModal2" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="multiPurposeModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="aboutModalTitle"><b>LOG IN OR SIGN UP</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Tab navigation -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <!-- Post Ad tab will be added here by TypeScript if user is logged in -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#logIn"
                            type="button" role="tab" aria-controls="login" aria-selected="true">Log In</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signUp"
                            type="button" role="tab" aria-controls="signup" aria-selected="false">Sign Up</button>
                    </li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane active" id="logIn" role="tabpanel" aria-labelledby="login-tab">
                        <app-log-in></app-log-in>
                        <br>
                        <div id="liveAlertPlaceholder4"></div>
                        <br>
                        <p align="center"><button class="btn btn-warning"
                                (click)="openForgotPasswordModalAboutUs()"><b>Forgot Password?</b></button></p>
                        <!-- Forgot Password Modal -->
                        <div class="modal fade" id="forgotPasswordModalAboutUs" tabindex="-1"
                            aria-labelledby="forgotPasswordModalLabelAboutUs" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="forgotPasswordModalLabelAboutUs">Forgot Password
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                                            <div class="mb-3">
                                                <label for="emailAboutUs" class="form-label">Email address</label>
                                                <input type="email" class="form-control" id="emailAboutUs"
                                                    formControlName="email">
                                                <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
                                                    style="color: red; font-size: 15px; font-weight: 700;">
                                                    <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
                                                        Email is required.
                                                    </div>
                                                    <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
                                                        Please enter a valid email.
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-warning"><b>Sumbit</b></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="signUp" role="tabpanel" aria-labelledby="signup-tab">
                        <app-sign-up></app-sign-up>
                    </div>
                </div>
                <!-- Post Ad content will be added here by TypeScript if user is logged in -->
            </div>
        </div>
    </div>
</div>