fa-icon{
    font-size: 2rem;
}
.phoneIcon{
    color: #e62c2c;
}
.whatsappIcon{
    color: #25d366;
}
.viberIcon{
    color: #7360f2;
}
.skypeIcon{
    color: #00aff0;
}
.yahooIcon{
    color: #410093;
}