<div class="container">
  <h1 align="center">CONTACTS</h1><br>
  <p align="center">You can contact us by these numbers: </p>
  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
      <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <fa-icon [icon]="faPhone" class="phoneIcon"></fa-icon>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Phone</h6>
            <p class="mb-0 opacity-75">Call to this number: <b>+94 012 345 6789</b></p>
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <fa-icon [icon]="faWhatsapp" class="whatsappIcon"></fa-icon>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Whatsapp</h6>
            <p class="mb-0 opacity-75">Call to this number: <b>+94 098 765 4321</b></p>
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <fa-icon [icon]="faViber" class="viberIcon"></fa-icon>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Viber</h6>
            <p class="mb-0 opacity-75">Call to this number: <b>+94 013 579 2468</b></p>
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <fa-icon [icon]="faSkype" class="skypeIcon"></fa-icon>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Skype</h6>
            <p class="mb-0 opacity-75">Call to this number: <b>+94 024 681 3579</b></p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <p align="center">Or with these emails: </p>
  <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div class="list-group">
      <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <fa-icon [icon]="faMail" class="emailIcon"></fa-icon>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Gmail</h6>
            <p class="mb-0 opacity-75">Send an email to: <b>bequick123&#64;gmail.com</b></p>
          </div>
        </div>
      </a>
      <a class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <fa-icon [icon]="faYahoo" class="yahooIcon"></fa-icon>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Yahoo</h6>
            <p class="mb-0 opacity-75">Send an email to: <b>bequick123&#64;yahoo.com</b></p>
          </div>
        </div>
      </a>
  </div>
</div>