<div class="container-fluid" style="padding: 0 !important;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
        style="background-color: #1d1987; margin: 0 !important;">
        <p class="col-md-4 mb-0" style="color: #fff">&nbsp; &copy; 2024 Company, Inc</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 link-light">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 link-light">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 link-light">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 link-light">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 link-light">About</a></li>
        </ul>
    </footer>
</div>