<div class="container-fluid" style="padding: 0 !important;">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
        style="background-color: #1d1987; margin: 0 !important;">
        <p class="col-md-4 mb-0" style="color: #fff">&nbsp; &copy; 2024 Company, Inc</p>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 link-light">Home</a></li>
            <li class="nav-item"><a routerLink="/about" href="/about" class="nav-link px-2 link-light">About us</a></li>
            <li class="nav-item"><a routerLink="/contacts" href="/contacts" class="nav-link px-2 link-light">Contacts</a></li>
            <li class="nav-item"><a routerLink="/reviews" href="/reviews" class="nav-link px-2 link-light">Reviews</a></li>
            <li class="nav-item"><a routerLink="/learn-more" href="/learn-more" class="nav-link px-2 link-light">Learn more about BeQuick</a></li>
        </ul>
    </footer>
</div>