<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Sithila Sihan Somaratne">
    <meta name="description" content="Looking to rent or sell a house? You came to the rigth place. BeQuick helps you to find houses for you, and you can even create your own ad, about your property to sell or rent!">
    <title>BeQuick</title>
    <link rel="stylesheet" href="app.component.css">
</head>
<body>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</body>
</html>