<br>
<p align="center">Make sure you enter the details correctly!</p>
<br>
<form [formGroup]="signUpForm" method="post">
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput1" placeholder="Name Surname"
            formControlName="userName">
        <label for="floatingInput1">User name</label>
    </div>
    <div *ngIf="signUpForm.get('userName')?.invalid && (signUpForm.get('userName')?.dirty || signUpForm.get('userName')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('userName')?.errors?.['required']">
            User name is required.
        </div>
    </div>
    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput2" placeholder="name@example.com"
            formControlName="userEmail">
        <label for="floatingInput2">Email address</label>
    </div>
    <div *ngIf="signUpForm.get('userEmail')?.invalid && (signUpForm.get('userEmail')?.dirty || signUpForm.get('userEmail')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('userEmail')?.errors?.['required']">
            Email is required.
        </div>
        <div *ngIf="signUpForm.get('userEmail')?.errors?.['email']">
            Please enter a valid email.
        </div>
    </div>
    <div class="form-floating">
        <input type="tel" class="form-control" id="floatingInput3" placeholder="+00 000 000 000"
            formControlName="userContact">
        <label for="floatingInput3">Contact Number</label>
    </div>
    <div *ngIf="signUpForm.get('userContact')?.invalid && (signUpForm.get('userContact')?.dirty || signUpForm.get('userContact')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('userContact')?.errors?.['required']">
            Contact number is required.
        </div>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInputDOB" placeholder="DD/MM/YY" formControlName="userDOB">
        <label for="floatingInputDOB">Date of Birth</label>
    </div>
    <div *ngIf="signUpForm.get('userDOB')?.invalid && (signUpForm.get('userDOB')?.dirty || signUpForm.get('userDOB')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('userDOB')?.errors?.['required']">
            Date of Birth is required.
        </div>
        <div *ngIf="signUpForm.get('userDOB')?.errors?.['pattern']">
            Please enter a valid date in DD/MM/YY format.
        </div>
    </div>
    <div class="form-floating">
        <input [type]="hide ? 'password' : 'text'" class="form-control" id="floatingPassword1" placeholder="Password"
            formControlName="userPwd">
        <label for="floatingPassword1">Password</label>
    </div>
    <div *ngIf="signUpForm.get('userPwd')?.invalid && (signUpForm.get('userPwd')?.dirty || signUpForm.get('userPwd')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('userPwd')?.errors?.['required']">
            Password is required.
        </div>
        <div *ngIf="signUpForm.get('userPwd')?.errors?.['minlength']">
            Password must be at least 8 characters long.
        </div>
        <div *ngIf="signUpForm.get('userPwd')?.errors?.['pattern']">
            Password must contain at least one lowercase letter, one uppercase letter, one
            number, and one special
            character.
        </div>
    </div>
    <div class="form-floating">
        <input [type]="hide ? 'password' : 'text'" class="form-control" id="floatingPassword2" placeholder="Password"
            formControlName="confirmPwd">
        <label for="floatingPassword2">Please enter password again</label>
    </div>
    <div *ngIf="signUpForm.get('confirmPwd')?.invalid && (signUpForm.get('confirmPwd')?.dirty || signUpForm.get('confirmPwd')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('confirmPwd')?.errors?.['required']">
            Repeat password is required.
        </div>
        <div *ngIf="signUpForm.get('confirmPwd')?.errors?.['minlength']">
            Repeat password must be at least 8 characters long.
        </div>
        <div *ngIf="signUpForm.get('confirmPwd')?.errors?.['pattern']">
            Repeat password must contain at least one lowercase letter, one uppercase letter,
            one number, and one special
            character.
        </div>
    </div>
    <div class="form-check text-start my-3">
        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" (change)="hide = !hide">
            <label class="form-check-label" for="flexCheckDefault2">
                Show password
            </label>
        </div>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput6" placeholder="Bank Name" formControlName="bankName">
        <label for="floatingInput6">Bank Name</label>
    </div>
    <div *ngIf="signUpForm.get('bankName')?.invalid && (signUpForm.get('bankName')?.dirty || signUpForm.get('bankName')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('bankName')?.errors?.['required']">
            Bank name is required.
        </div>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput7" placeholder="Bank Account Number"
            formControlName="bankAccountNumber">
        <label for="floatingInput7">Bank Account Number</label>
    </div>
    <div *ngIf="signUpForm.get('bankAccountNumber')?.invalid && (signUpForm.get('bankAccountNumber')?.dirty || signUpForm.get('bankAccountNumber')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('bankAccountNumber')?.errors?.['required']">
            Bank Account Number is required.
        </div>
    </div>
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput8" placeholder="Bank SWIFT Code"
            formControlName="bankSWIFT">
        <label for="floatingInput8">Bank SWIFT Code</label>
    </div>
    <div *ngIf="signUpForm.get('bankSWIFT')?.invalid && (signUpForm.get('bankSWIFT')?.dirty || signUpForm.get('bankSWIFT')?.touched)"
        style="color: red; font-size: 15px; font-weight: 700;">
        <div *ngIf="signUpForm.get('bankSWIFT')?.errors?.['required']">
            Bank SWIFT is required.
        </div>
    </div>
    <br>
    <div *ngIf="signUpForm.errors?.['fieldsDoNotMatch']" style="color: red; font-size: 15px; font-weight: 700;">
        Password fields do not match.
    </div>
    <br>
    <div id="liveAlertPlaceholder1"></div>
    <br>
    <form [formGroup]="verifyPinForm" *ngIf="signUpSuccess" (submit)="verifyPin()">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput9" placeholder="000000" formControlName="pin">
            <label for="floatingInput9">PIN</label>
            <div *ngIf="verifyPinForm.get('pin')?.invalid && (verifyPinForm.get('pin')?.dirty || verifyPinForm.get('pin')?.touched)"
                style="color: red; font-size: 15px; font-weight: 700;">
                <div *ngIf="verifyPinForm.get('pin')?.errors?.['required']">
                    PIN is required.
                </div>
            </div>
            <button class="btn btn-warning" type="submit"><b>Verify</b></button>
        </div>
    </form>
    <br>
    <div id="liveAlertPlaceholder2"></div>
    <br>
    <button class="btn btn-warning w-100 py-2" type="submit" (click)="signUp()"><b>Sign Up</b></button>
    <br>
</form>