<div class="container-fluid" style="padding: 0;">
    <header id="header"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        style="background-color: #1d1987; padding: 5px;">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-light"><b><u>BeQuick</u></b></a></li>
            <li><a routerLink="/about" href="/about" class="nav-link px-2 link-light">About us</a></li>
            <li><a routerLink="/contacts" href="/contacts" class="nav-link px-2 link-light">Contacts</a></li>
            <li><a routerLink="/reviews" href="/reviews" class="nav-link px-2 link-light">Reviews</a></li>
            <li><a routerLink="/learn-more" href="/learn-more" class="nav-link px-2 link-light">Learn more about
                    BeQuick</a></li>
        </ul>

        <div class="col-md-4 text-end">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#multiPurposeModal"><b>POST
                    YOUR AD</b></button>
        </div>
    </header>
</div>

<!-- Multi-purpose Modal -->
<div class="modal fade" id="multiPurposeModal" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="multiPurposeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5><b>POST YOUR AD</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Tab navigation -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <!-- Post Ad tab will be added here by TypeScript if user is logged in -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                            type="button" role="tab" aria-controls="login" aria-selected="true">Log In</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup"
                            type="button" role="tab" aria-controls="signup" aria-selected="false">Sign Up</button>
                    </li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <br>
                        <p align="center">First, you must login!</p>
                        <br>
                        <form [formGroup]="logInForm" method="post">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput1" placeholder="Name Surname"
                                    formControlName="userName">
                                <label for="floatingInput1">User name</label>
                            </div>
                            <div *ngIf="logInForm.get('userName')?.invalid && (logInForm.get('userName')?.dirty || logInForm.get('userName')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="logInForm.get('userName')?.errors?.['required']">
                                    User name is required.
                                </div>
                            </div>
                            <div class="form-floating">
                                <input [type]="hide ? 'password' : 'text'" class="form-control" id="floatingPassword1"
                                    placeholder="Password" formControlName="userPwd">
                                <label for="floatingPassword1">Password</label>
                            </div>
                            <div *ngIf="logInForm.get('userPwd')?.invalid && (logInForm.get('userPwd')?.dirty || logInForm.get('userPwd')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="logInForm.get('userPwd')?.errors?.['required']">
                                    Password is required.
                                </div>
                                <div *ngIf="logInForm.get('userPwd')?.errors?.['minlength']">
                                    Password must be at least 8 characters long.
                                </div>
                                <div *ngIf="logInForm.get('userPwd')?.errors?.['pattern']">
                                    Password must contain at least one lowercase letter, one uppercase letter, one
                                    number, and one special
                                    character.
                                </div>
                            </div>
                            <div class="form-check text-start my-3">
                                <div class="form-check text-start my-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                        (change)="hide = !hide">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Show password
                                    </label>
                                </div>
                            </div>
                        </form>
                        <br>
                        <button class="btn btn-warning w-100 py-2" type="submit">Log in</button>
                        <br><br>
                        <p align="center">Are you new to BeQuick? Go to the Sign Up!</p>
                    </div>
                    <div class="tab-pane" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                        <form [formGroup]="signUpForm" method="post">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput1" placeholder="Name Surname"
                                    formControlName="userName">
                                <label for="floatingInput1">User name</label>
                            </div>
                            <div *ngIf="signUpForm.get('userName')?.invalid && (signUpForm.get('userName')?.dirty || signUpForm.get('userName')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="signUpForm.get('userName')?.errors?.['required']">
                                    User name is required.
                                </div>
                            </div>
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput2"
                                    placeholder="name@example.com" formControlName="userEmail">
                                <label for="floatingInput2">Email address</label>
                            </div>
                            <div *ngIf="signUpForm.get('userEmail')?.invalid && (signUpForm.get('userEmail')?.dirty || signUpForm.get('userEmail')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="signUpForm.get('userEmail')?.errors?.['required']">
                                    Email is required.
                                </div>
                                <div *ngIf="signUpForm.get('userEmail')?.errors?.['email']">
                                    Please enter a valid email.
                                </div>
                            </div>
                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput3"
                                    placeholder="name@example.com" formControlName="confirmEmail">
                                <label for="floatingInput3">Please enter email address again</label>
                            </div>
                            <div *ngIf="signUpForm.get('confirmEmail')?.invalid && (signUpForm.get('confirmEmail')?.dirty || signUpForm.get('confirmEmail')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="signUpForm.get('confirmEmail')?.errors?.['required']">
                                    Email is required.
                                </div>
                                <div *ngIf="signUpForm.get('confirmEmail')?.errors?.['email']">
                                    Please enter a valid email.
                                </div>
                            </div>
                            <div class="form-floating">
                                <input type="tel" class="form-control" id="floatingInput4" placeholder="+00 000 000 000"
                                    formControlName="userContact">
                                <label for="floatingInput4">Contact Number</label>
                            </div>
                            <div *ngIf="signUpForm.get('userContact')?.invalid && (signUpForm.get('userContact')?.dirty || signUpForm.get('userContact')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="signUpForm.get('userContact')?.errors?.['required']">
                                    Contact number is required.
                                </div>
                            </div>
                            <div class="form-floating">
                                <input type="tel" class="form-control" id="floatingInput5" placeholder="+00 000 000 000"
                                    formControlName="confirmContact">
                                <label for="floatingInput5">Please enter contact number again</label>
                            </div>
                            <div *ngIf="signUpForm.get('confirmContact')?.invalid && (signUpForm.get('confirmContact')?.dirty || signUpForm.get('confirmContact')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="signUpForm.get('confirmContact')?.errors?.['required']">
                                    Contact number is required.
                                </div>
                            </div>
                            <div class="form-floating">
                                <input [type]="hide ? 'password' : 'text'" class="form-control" id="floatingPassword1"
                                    placeholder="Password" formControlName="userPwd">
                                <label for="floatingPassword1">Password</label>
                            </div>
                            <div *ngIf="signUpForm.get('userPwd')?.invalid && (signUpForm.get('userPwd')?.dirty || signUpForm.get('userPwd')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="signUpForm.get('userPwd')?.errors?.['required']">
                                    Password is required.
                                </div>
                                <div *ngIf="signUpForm.get('userPwd')?.errors?.['minlength']">
                                    Password must be at least 8 characters long.
                                </div>
                                <div *ngIf="signUpForm.get('userPwd')?.errors?.['pattern']">
                                    Password must contain at least one lowercase letter, one uppercase letter, one
                                    number, and one special
                                    character.
                                </div>
                            </div>
                            <div class="form-floating">
                                <input [type]="hide ? 'password' : 'text'" class="form-control" id="floatingPassword2"
                                    placeholder="Password" formControlName="confirmPwd">
                                <label for="floatingPassword2">Please enter password again</label>
                            </div>
                            <div *ngIf="signUpForm.get('confirmPwd')?.invalid && (signUpForm.get('confirmPwd')?.dirty || signUpForm.get('confirmPwd')?.touched)"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                <div *ngIf="signUpForm.get('confirmPwd')?.errors?.['required']">
                                    Repeat password is required.
                                </div>
                                <div *ngIf="signUpForm.get('confirmPwd')?.errors?.['minlength']">
                                    Repeat password must be at least 8 characters long.
                                </div>
                                <div *ngIf="signUpForm.get('confirmPwd')?.errors?.['pattern']">
                                    Repeat password must contain at least one lowercase letter, one uppercase letter,
                                    one number, and one special
                                    character.
                                </div>
                            </div>
                            <div class="form-check text-start my-3">
                                <div class="form-check text-start my-3">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                        (change)="hide = !hide">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Show password
                                    </label>
                                </div>
                            </div>
                            <br>
                            <div *ngIf="signUpForm.errors?.['fieldsDoNotMatch']"
                                style="color: red; font-size: 15px; font-weight: 700;">
                                Fields do not match.
                            </div>
                            <br>
                            <div id="liveAlertPlaceholder"></div>
                            <br>
                            <form *ngIf="signUpSuccess" (submit)="verifyPin()">
                                <input type="tel" class="form-control" id="floatingInput6 pin" placeholder="000000">
                                <label for="floatingInput6">PIN</label>
                                <button class="btn btn-warning" type="submit"><b>Verify</b></button>
                            </form>
                            <br>
                            <button class="btn btn-warning w-100 py-2" type="submit"
                                (click)="signUp()"><b>Signup</b></button>
                            <br>
                        </form>
                    </div>
                </div>
                <!-- Post Ad content will be added here by TypeScript if user is logged in -->
            </div>
        </div>
    </div>
</div>