<div class="container-fluid" style="padding: 0;">
    <header id="header"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        style="background-color: #1d1987; padding: 5px;">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-light"><b><u>BeQuick</u></b></a></li>
            <li><a routerLink="/about" href="/about" class="nav-link px-2 link-light">About us</a></li>
            <li><a routerLink="/contacts" href="/contacts" class="nav-link px-2 link-light">Contacts</a></li>
            <li><a routerLink="/reviews" href="/reviews" class="nav-link px-2 link-light">Reviews</a></li>
            <li><a routerLink="/learn-more" href="/learn-more" class="nav-link px-2 link-light">Learn more about
                    BeQuick</a></li>
        </ul>

        <div class="col-md-4 text-end">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#multiPurposeModal1"><b>POST YOUR AD</b></button>
        </div>
    </header>
</div>

<!-- Multi-purpose Modal -->
<div class="modal fade" id="multiPurposeModal1" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="multiPurposeModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5><b>POST YOUR AD!</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <app-sign-up-and-log-in></app-sign-up-and-log-in>
        </div>
    </div>
</div>