<div class="container-fluid" style="padding: 0;">
    <header id="header"
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
        style="background-color: #1d1987; padding: 5px;">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-2 link-light"><b><u>BeQuick</u></b></a></li>
            <li><a routerLink="/about" href="/about" class="nav-link px-2 link-light">About us</a></li>
            <li><a routerLink="/contacts" href="/contacts" class="nav-link px-2 link-light">Contacts</a></li>
            <li><a routerLink="/reviews" href="/reviews" class="nav-link px-2 link-light">Reviews</a></li>
            <li><a routerLink="/learn-more" href="/learn-more" class="nav-link px-2 link-light">Learn more about
                    BeQuick</a></li>
        </ul>

        <div class="col-md-4 text-end">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                data-bs-target="#multiPurposeModal1"><b>POST YOUR AD</b></button>
        </div>
    </header>
</div>

<!-- Multi-purpose Modal -->
<div class="modal fade" id="multiPurposeModal1" data-bs-backdrop="static" tabindex="-1"
    aria-labelledby="multiPurposeModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5><b>POST YOUR AD!</b></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Tab navigation -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <!-- Post Ad tab will be added here by TypeScript if user is logged in -->
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="login-tab" data-bs-toggle="tab" data-bs-target="#login"
                            type="button" role="tab" aria-controls="login" aria-selected="true">Log In</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="signup-tab" data-bs-toggle="tab" data-bs-target="#signup"
                            type="button" role="tab" aria-controls="signup" aria-selected="false">Sign Up</button>
                    </li>
                </ul>
                <!-- Tab content -->
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane active" id="login" role="tabpanel" aria-labelledby="login-tab">
                        <app-log-in></app-log-in>
                        <br>
                        <div id="liveAlertPlaceholder4"></div>
                        <br>
                        <p align="center"><button class="btn btn-warning"
                                (click)="openForgotPasswordModalHeader()"><b>Forgot Password?</b></button></p>
                        <!-- Forgot Password Modal -->
                        <div class="modal fade" id="forgotPasswordModalHeader" tabindex="-1"
                            aria-labelledby="forgotPasswordModalLabelHeader" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="forgotPasswordModalLabelHeader">Forgot Password
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                                            <div class="mb-3">
                                                <label for="emailHeader" class="form-label">Email address</label>
                                                <input type="email" class="form-control" id="emailHeader"
                                                    formControlName="email">
                                                <div *ngIf="forgotPasswordForm.get('email')?.invalid && (forgotPasswordForm.get('email')?.dirty || forgotPasswordForm.get('email')?.touched)"
                                                    style="color: red; font-size: 15px; font-weight: 700;">
                                                    <div *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">
                                                        Email is required.
                                                    </div>
                                                    <div *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">
                                                        Please enter a valid email.
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-warning"><b>Sumbit</b></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="signup" role="tabpanel" aria-labelledby="signup-tab">
                        <app-sign-up></app-sign-up>
                    </div>
                </div>
                <!-- Post Ad content will be added here by TypeScript if user is logged in -->
            </div>
        </div>
    </div>
</div>