<div class="text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">Learn more about BeQuick</h1>
  <p>You can learn about how to use BeQuick, to sell and rent properties and have details about what do you want.</p>
    <br>
    <div class="row featurette">
        <div class="col-md-7 tex">
          <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary">1. </span> Log in or sign up.</h2>
          <p class="lead">To become a member of BeQuick, you will have to first sign up by entering your user name (invent it!), email, phone number, location, birth day and a strong password. After you inserted these 6 credentials, you will receive an email that says to enter a PIN for user verification. After that, you will also have to add your bank credentials. And finally you will have to log in. </p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
      </div>
    
      <hr class="featurette-divider">
    
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary">2. </span>Start seeing ads... or post your own!</h2>
          <p class="lead">Now, after you logged in, you welcomed in the world of BeQuick! Search for an ad you like with the extra options to choose the rigth property or start posting your own ad by selecting the options (you can modify them in the future). When posting your ad, you will have to re-enter your bank credentials and then, when you posted the ad, an email or a call will come for you to deal with the ad. Also there's a limit for the ad: one month is the limit to the ad to be shown. If no one isn't interested, then you should request another month to it by paying an amount or BeQuick will remove it. </p>
        </div>
        <div class="col-md-5 order-md-1">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
      </div>
    
      <hr class="featurette-divider">
    
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary">3. </span>Wait for a customer and help.</h2>
          <p class="lead">Last thing to do is to find a customer for your ad. If someone is interested, he will pay the amount you requested through the bank and then you can remove your ad manually. If you need help, go to the <b><a class="nav-link px-2 link-warning" href="/contacts">Contacts page</a></b>.</p>
        </div>
        <div class="col-md-5">
          <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"/><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
        </div>
    </div>    
</div>