<div class="text-center">
    <br><br><br>
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to <i>BeQuick</i>!</h1>
    <br><p>Browse items by category</p>
</div>
<br>
<div class="container text-center">
    <div class="row">
        <div class="col">
            <a href="/properties" routerLink="/properties" class="link-dark" style="text-decoration: none;">
                <img src="https://img.icons8.com/fluency/48/home.png" alt="home" /> Property
            </a>            
        </div>
    </div>
</div>
<br><br>
<div class="container px-4 py-5">
    <h2 class="fw-bold text-center">Why use BeQuick?</h2>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-center g-5 py-5">
        <div class="col d-flex flex-column align-items-start gap-2">
            <h3 class="text-body-emphasis">The advantages of BeQuick</h3>
            <p class="text-body-secondary">In BeQuick, there are a lot of qualities that can help you with your research! <br> On the right, you can see the main advantages.</p>
        </div>

        <div class="col">
            <div class="row row-cols-1 row-cols-sm-2 g-4">
                <div class="col d-flex flex-column gap-2">
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Time <fa-icon [icon]="faTime" class="timeIcon"></fa-icon></h4>
                    <p class="text-body-secondary">You can search anything in less time! Just specify the result by clicking the other options and then the results will appear!</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Posting AD <fa-icon [icon]="faMoney" class="moneyIcon"></fa-icon></h4>
                    <p class="text-body-secondary">Post your AD for free! No need to pay! You will have to contact the company for more details.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Security <fa-icon [icon]="faSecurity" class="securityIcon"></fa-icon></h4>
                    <p class="text-body-secondary">BeQuick will protect your own credentials, by encrypting passwords to make them more stronger.</p>
                </div>

                <div class="col d-flex flex-column gap-2">
                    <h4 class="fw-semibold mb-0 text-body-emphasis">Up-To-Date <fa-icon [icon]="faUpToDate" class="up_to_dateIcon"></fa-icon></h4>
                    <p class="text-body-secondary">BeQuick is always up-to-date. It will notify you if someone is interested in your ads or it will alert you on them.</p>
                </div>
            </div>
        </div>
    </div>
</div>